.button
{
    -fx-background-color : #F9F871;
    -fx-text-fill : #000000;
}
.button:hover{
    -fx-background-color : #10165F;
    -fx-text-fill : #F9F871;
}
.button:pressed
{
    -fx-background-color : #1620A1;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.titled-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.titled-pane > .title {
    -fx-background-color: transparent;
    -fx-padding: 5;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Oku Gizle */
.titled-pane > .title > .arrow {
    -fx-opacity: 0;
    -fx-shape: "";
}

/* İçerik Bölgesi */
.titled-pane > .content {
    -fx-background-color: transparent;
    -fx-padding: 5;
    -fx-border-width: 0 0 0 0;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.jfx-combo-box .list-cell:filled:selected {
    -fx-text-fill: #4a90e2;
    -fx-background-color: transparent;
}